<h1>Edit <%= @routine.day %>!</h1>

<%= render partial: "layouts/errors", locals: {object: @routine} %>

<%= form_for(@routine) do |f|%>

    <%= f.label :day %>
    <%= f.text_field :day %>

    <%= f.submit %>
<% end %>