
<% if @comment.routine %>
    <h1> New Comment for <%= @comment.routine.day%>! </h1>
<% else %>
    <h1> New Comment </h1>
<% end %>

<%= render partial: "layouts/errors", locals: {object: @comment} %>

<%= form_for([@comment.routine,@comment]) do |f|%>
    <% if !@comment.routine %>
     <%= f.label :routine %>
     <%= f.collection_select :routine_id, Routine.all, :id, :day %>
   <% else %>
       <%= f.hidden_field :routine_id %>
   <% end %>
     <%= f.label :content %>
     <%= f.text_field :content %>
     <%= f.submit %>
<% end %>